@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

.bg-grey {
    width: 1280px;
    height: 1965px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row-reverse;
    left: auto;
    right: auto;
    padding: 40px;
}

.bg-white {
    width: 910px;
    height: 1300px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.bg-dark {
    width: 370px;
    height: 1300px;
    background-color: #1e2939;
}

.header {
    width: 121px;
    height: 17px;
    color: #ffffff;
    font-family: Roboto, Arial;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

li {
    color: #ff6b08;
}
